[Unit]
Description=Python Service
After=multi-user.target
SourcePath=/etc/init.d/api_vector/api

[Service]
Type=simple
Restart=always
ExecStart=/bin/sh -c "/usr/bin/python3 /home/azureuser/vector/api.py"
WorkingDirectory=/home/azureuser/vector

[Install]
WantedBy=multi-user.target